.title {
  color:blue;
}

.pop-up {
  background-color: gray;
  color: white;
  padding: 20px 300px;
  margin: 0 auto;
}

.container {
  display: none;
}

.start-text {
  font-size: 20px;
  width: 150px;
  margin: 0 auto;
}